# pip install -r requirements.txt
#
# --- ldp_slicing.py  ---
torch>=2.1
pytorch-wavelets>=1.3.0
#
# --- experiment/train_resnet56_ppic.py (PPIC:) ---
torchvision>=0.16
numpy>=1.22
#
# --- experiment/train_arcface_ppfr.py (PPFR) ---
Pillow>=9.0
tqdm>=4.60
